
body {
    background: linear-gradient(135deg, beige, ivory); /* Fondo degradado */
   
  }
  
  .container {
    margin-top: 50px; /* Espaciado superior */
  }
  
  .tamaño-imagen {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  .card {
    padding: 20px;
  }
  
  .custom-card {
    max-width: 400px; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
    background-color: #e8f5e9; /* Color de fondo pastel verde */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .pastel-input {
    background-color: #f1f8e9; /* Fondo pastel verde claro */
    border: 1px solid #c8e6c9; /* Borde pastel verde */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .pastel-button {
    background-color: #a5d6a7; /* Color del botón pastel verde */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para hover */
  }
  
  .pastel-button:hover {
    background-color: #81c784; /* Color del botón en hover pastel verde más oscuro */
  }
  
  .link-button {
    background: none; 
    border: none; 
    color: #2e7d32; 
    text-decoration: underline; 
    cursor: pointer; 
    margin-left: 3px; 
  }
  
  .link-button:hover {
    color: #1b5e20; 
  }
  
  @media (max-width: 768px) {
    .tamaño-imagen {
      width: 100px; 
  }
}

.custom-text{
  font-size: 1.1rem;
}